.pragmatic_footer_logo{
    font-family: 'Bebas Neue', sans-serif;
}

.pragmatic_logo{
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;

}
.pragmatic_over{
    text-align:center; margin-top: 2rem;
}
.pragmatic_footer_tag{
    font-size: .6rem
}
.block_margin_top_1{
    margin-top: 1rem;
}